---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>


  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-372S7EKPE3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-372S7EKPE3');
</script>

  
  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    

    <footer style="background-color: #f2f2f2; padding: 10px 0;">
    <div class="row">
        <div class="col-lg-12">
            <p align="center">
                You are the <script type="text/javascript" src="//counter.websiteout.com/js/7/0/0/0"></script>th visitor. © Copyright 2024 chijiancheng – All rights reserved.
            </p>
        </div>
    </div>
    </footer>


  </body>
</html>
